.ToDo {
    margin-left: 50px;
    margin-top: 30px;
    width: 65%;
}

header {
    background: #A9D0F5;
    border: 1px solid;
}

header h1 {
    display: inline-block;
    font-size: 32px;
    margin-top: 18px;
}
header h2 {
    display: inline-block;
    float: right;
    font-size: 32px;
    margin-top: 18px;
    margin-right: 50px;
}

.main-contents {
    border: 1px solid;
    background: #eee;
    padding: 20px 50px 60px;
}

.new-todo {
    heght: 300px;
    background: #FFFFFF;
    border: 1px solid;
    padding: 50px 50px 20px;
    margin-bottom: 20px;
}

.creating {
    padding-top: 20px;
}

.create-left {
    width: 80%;
    display: inline-block;
}

.create-todo-data{
    padding-top: 20px;
}

.add-button {
    background: #A9D0F5;
    border: none;
    outline: none;
    appearance: none;
    float: right;
    font-size: 25px;
    border: 1px solid;
    padding: 10px 5px;
}

.todo-list {
}

.todo {
    background: #FFFFFF;
    border: 1px solid;
    padding: 20px 50px;
    margin: 0px 0px 20px;
}

.left-box {
    display: inline-block;
    width: 50%;
}

.edit-button {
    background: #A9D0F5;
    border: none;
    outline: none;
    appearance: none;
    font-size: 25px;
    border: 1px solid;
    padding: 10px 5px;
    float: right;
    margin-right: 30px;
}

.check-button {
    background: #A9D0F5;
    border: none;
    outline: none;
    appearance: none;
    font-size: 25px;
    border: 1px solid;
    padding: 10px 5px;
    float: right;
}

.search {
    background: #FFFFFF;
    border: 1px solid;
    height: 40px;
    margin-bottom: 50px;
}


