@(todos: List[Todo], form: Form[Todo])

@main("ToDoリスト") {
<div class="main-contents">
    <div class="new-todo">
        <h3 class="create-todo">新しいtodoを作成する</h3>
        @helper.form(routes.HomeController.create()){
        @if(form.hasErrors) {
        @for(err <- form.allErrors()) {
        } }
        <div class="creating">
            <div class="create-left">
                <div class="create-todo-name">
                    @helper.CSRF.formField
                    @helper.inputText(
                    form("text"), '_label -> "Todo名"
                    )
                </div>
                <div class="create-todo-data">
                    @helper.inputDate(
                    form("deadline"),'_label -> "期限"
                    )
                </div>
            </div>
            <input class="add-button" type="submit" value="ToDoの追加">
        </div>
        }
    </div>
    @if(todos.size() == 0){
    <h4 class="error">登録されたToDoはございません</h4>
    }
    <div class="todo-list">
        @for(todo <- todos){
        <div class="todo">
            <div class="left-box">
                <h3 class="todo-name">@todo.text</h3>
                <div class="todo-data">期限：　@todo.deadline.format("yyyy年MM月dd日")</div>
                <div class="todo-created">作成日：@todo.postdate.format("yyyy年MM月dd日")</div>
            </div>
            <span class="sort">
                @helper.form(routes.HomeController.showedit(todo.id)){
                <input class="edit-button" type="submit" value="編集">
                }
                @helper.form(routes.HomeController.check(todo.id)){
                    @helper.CSRF.formField
                    @if(todo.done){
                        <input class="check-button" type="submit" value="完了">
                    }else{
                        <input class="check-button2" type="submit" value="未完了">
                    }
                }
            </span>
        </div>
        }
    </div>
</div>
}