@main("Welcome to play") {
<div class="main-contents">
    <div class="create-left">
        <div class="search">ToDo名</div>
    </div>
    <input class="add-button" type="button" value="検索" onClick="/">
    <div class="todo-list">
        <div class="todo">
            <div class="left-box">
                <h3 class="todo-name">レポートサマリーを作る</h3>
                <div class="todo-data">期限：　2016年8月10日</div>
                <div class="todo-created">作成日：2016年8月1日</div>
            </div>
            <input class="check-button" type="button" value="完了" onClick="/">
            <input class="edit-button" type="button" value="編集" onClick="/">
        </div>
        <div class="todo">
            <div class="left-box">
                <h3 class="todo-name">レポートサマリーを作るあああああああああああああああああああ</h3>
                <div class="todo-data">期限：　2016年8月10日</div>
                <div class="todo-created">作成日：2016年8月1日</div>
            </div>
            <input class="check-button" type="button" value="完了" onClick="/">
            <input class="edit-button" type="button" value="編集" onClick="/">
        </div>
    </div>
</div>
}