@(todo: Todo, form: Form[Todo])

@main("Welcome to play") {
<div class="main-contents">
    <div class="new-todo">
        <div class="create-todo">ToDoの内容を変更します</div>
        @helper.form(routes.HomeController.edit(todo.id)){
        <div class="creating">
            <div class="create-left">
                <div class="create-todo-name">
                    @helper.inputText(
                    form("text"), '_label -> "Todo名"
                    )
                </div>
                <div class="create-todo-data">
                    @helper.inputDate(
                    form("deadline"),'_label -> "期限"
                    )
                </div>
            </div>
            <input class="add-button" type="submit" value="更新">
        </div>
        }
    </div>
</div>
}