@(todos: List[Todo], form: Form[Todo])

@main("ToDoリスト") {
<div class="main-contents">
    @helper.form(routes.HomeController.showsearch()){
    <div class="create-left">
        @helper.inputText(form("text"))
    </div>
    <input class="add-button" type="submit" value="検索">
    }
    <div class="todo-list">
        @for(todo <- todos){
        <div class="todo">
            <div class="left-box">
                <h3 class="todo-name">@todo.text</h3>
                <div class="todo-data">期限：　@todo.deadline.format("yyyy年MM月dd日")</div>
                <div class="todo-created">作成日：@todo.postdate.format("yyyy年MM月dd日")</div>
            </div>
            <span class="sort">
                @helper.form(routes.HomeController.showedit(todo.id)){
                <input class="edit-button" type="submit" value="編集">
                }
                @helper.form(routes.HomeController.check(todo.id)){
                    @if(todo.done){
                        <input class="check-button" type="submit" value="完了">
                    }else{
                        <input class="check-button2" type="submit" value="未完了">
                    }
                }
            </span>
        </div>
        }
    </div>
</div>
}